<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>urlName</key>
		<string>shiyongfenlei</string>
		<key>imageName</key>
		<string>chFenlei_0</string>
		<key>name</key>
		<string>实用分类</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>快手菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>下饭菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>应季时蔬</string>
			</dict>
			<dict>
				<key>name</key>
				<string>素食</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肉食</string>
			</dict>
			<dict>
				<key>name</key>
				<string>汤</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>sancan</string>
		<key>imageName</key>
		<string>chFenlei_1</string>
		<key>name</key>
		<string>每日三餐</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>早餐</string>
			</dict>
			<dict>
				<key>name</key>
				<string>午餐</string>
			</dict>
			<dict>
				<key>name</key>
				<string>下午茶</string>
			</dict>
			<dict>
				<key>name</key>
				<string>晚餐</string>
			</dict>
			<dict>
				<key>name</key>
				<string>夜宵</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>zhushi</string>
		<key>imageName</key>
		<string>chFenlei_2</string>
		<key>name</key>
		<string>主食</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>炒饭</string>
			</dict>
			<dict>
				<key>name</key>
				<string>焖饭</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烩饭</string>
			</dict>
			<dict>
				<key>name</key>
				<string>饭</string>
			</dict>
			<dict>
				<key>name</key>
				<string>方便面</string>
			</dict>
			<dict>
				<key>name</key>
				<string>焖面</string>
			</dict>
			<dict>
				<key>name</key>
				<string>拌面</string>
			</dict>
			<dict>
				<key>name</key>
				<string>面</string>
			</dict>
			<dict>
				<key>name</key>
				<string>饼</string>
			</dict>
			<dict>
				<key>name</key>
				<string>包子</string>
			</dict>
			<dict>
				<key>name</key>
				<string>饺子</string>
			</dict>
			<dict>
				<key>name</key>
				<string>馄饨</string>
			</dict>
			<dict>
				<key>name</key>
				<string>粥</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>jiachangcaipu</string>
		<key>imageName</key>
		<string>chFenlei_3</string>
		<key>name</key>
		<string>家常菜谱</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>热菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凉菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>素菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>靓汤</string>
			</dict>
			<dict>
				<key>name</key>
				<string>粥品</string>
			</dict>
			<dict>
				<key>name</key>
				<string>主食</string>
			</dict>
			<dict>
				<key>name</key>
				<string>点心</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卤味</string>
			</dict>
			<dict>
				<key>name</key>
				<string>微波炉</string>
			</dict>
			<dict>
				<key>name</key>
				<string>海鲜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>火锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>酱料蘸料</string>
			</dict>
			<dict>
				<key>name</key>
				<string>干果零食</string>
			</dict>
			<dict>
				<key>name</key>
				<string>饮品</string>
			</dict>
			<dict>
				<key>name</key>
				<string>孕妇</string>
			</dict>
			<dict>
				<key>name</key>
				<string>产妇</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宝宝</string>
			</dict>
			<dict>
				<key>name</key>
				<string>老人</string>
			</dict>
			<dict>
				<key>name</key>
				<string>美容</string>
			</dict>
			<dict>
				<key>name</key>
				<string>瘦身</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>zhonghuacaixi</string>
		<key>imageName</key>
		<string>chFenlei_4</string>
		<key>name</key>
		<string>中华菜系</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>川菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鲁菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>粤菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湘菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>闽菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>浙菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苏菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>徽菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>京菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>沪菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豫菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖北菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>东北菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西北菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>云贵菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清真菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>山西菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>江西菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>广西菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>港台菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>其他菜</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>gedixiaochi</string>
		<key>imageName</key>
		<string>chFenlei_5</string>
		<key>name</key>
		<string>各地小吃</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>北京小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>天津小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>河北小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>山西小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蒙古小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>上海小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>山东小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>江苏小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>浙江小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安徽小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>吉林小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>辽宁小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>陕西小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新疆小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宁夏小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>甘肃小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>青海小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖北小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖南小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>河南小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>江西小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>重庆小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>四川小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>云南小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>贵州小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西藏小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>广东小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>福建小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>广西小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>海南小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>香港小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>台湾小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>成都小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黑龙江小吃</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>waiguocaipu</string>
		<key>imageName</key>
		<string>chFenlei_6</string>
		<key>name</key>
		<string>外国菜谱</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>日本料理</string>
			</dict>
			<dict>
				<key>name</key>
				<string>韩国料理</string>
			</dict>
			<dict>
				<key>name</key>
				<string>美国料理</string>
			</dict>
			<dict>
				<key>name</key>
				<string>意大利餐</string>
			</dict>
			<dict>
				<key>name</key>
				<string>法国菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>墨西哥菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>澳大利亚菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>东南亚菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西餐面点</string>
			</dict>
			<dict>
				<key>name</key>
				<string>餐前小吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>汤品</string>
			</dict>
			<dict>
				<key>name</key>
				<string>主菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>主食</string>
			</dict>
			<dict>
				<key>name</key>
				<string>甜点</string>
			</dict>
			<dict>
				<key>name</key>
				<string>饮品</string>
			</dict>
			<dict>
				<key>name</key>
				<string>其他国家</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>hongbei</string>
		<key>imageName</key>
		<string>chFenlei_7</string>
		<key>name</key>
		<string>烘焙</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>蛋糕面包</string>
			</dict>
			<dict>
				<key>name</key>
				<string>饼干配方</string>
			</dict>
			<dict>
				<key>name</key>
				<string>甜点点心</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烘焙工具</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烘焙常识</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烘焙原料</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>renqun</string>
		<key>imageName</key>
		<string>chFenlei_8</string>
		<key>name</key>
		<string>人群</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>孕妇</string>
			</dict>
			<dict>
				<key>name</key>
				<string>产妇</string>
			</dict>
			<dict>
				<key>name</key>
				<string>幼儿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>哺乳期</string>
			</dict>
			<dict>
				<key>name</key>
				<string>婴儿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>老人</string>
			</dict>
			<dict>
				<key>name</key>
				<string>青少年</string>
			</dict>
			<dict>
				<key>name</key>
				<string>运动员</string>
			</dict>
			<dict>
				<key>name</key>
				<string>围孕期</string>
			</dict>
			<dict>
				<key>name</key>
				<string>学龄前儿童</string>
			</dict>
			<dict>
				<key>name</key>
				<string>学龄期儿童</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高温工作者</string>
			</dict>
			<dict>
				<key>name</key>
				<string>低温工作者</string>
			</dict>
			<dict>
				<key>name</key>
				<string>电磁工作者</string>
			</dict>
			<dict>
				<key>name</key>
				<string>化学工作者</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>shicai</string>
		<key>imageName</key>
		<string>chFenlei_9</string>
		<key>name</key>
		<string>食材</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>畜类</string>
			</dict>
			<dict>
				<key>name</key>
				<string>禽类</string>
			</dict>
			<dict>
				<key>name</key>
				<string>水产</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔬菜</string>
			</dict>
			<dict>
				<key>name</key>
				<string>菌藻类</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豆类</string>
			</dict>
			<dict>
				<key>name</key>
				<string>五谷</string>
			</dict>
			<dict>
				<key>name</key>
				<string>水果</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>chuju</string>
		<key>imageName</key>
		<string>chFenlei_10</string>
		<key>name</key>
		<string>厨具</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>砂锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>煎锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蒸锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>汤锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>砂锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>炖锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>塔吉锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高压锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>空气炸锅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>电饭煲</string>
			</dict>
			<dict>
				<key>name</key>
				<string>炖盅</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烤箱</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冰箱</string>
			</dict>
			<dict>
				<key>name</key>
				<string>微波炉</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烧烤炉</string>
			</dict>
			<dict>
				<key>name</key>
				<string>电饼铛</string>
			</dict>
			<dict>
				<key>name</key>
				<string>面包机</string>
			</dict>
			<dict>
				<key>name</key>
				<string>面条机</string>
			</dict>
			<dict>
				<key>name</key>
				<string>榨汁机</string>
			</dict>
			<dict>
				<key>name</key>
				<string>料理机</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>changjing</string>
		<key>imageName</key>
		<string>chFenlei_11</string>
		<key>name</key>
		<string>场景</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>二人世界</string>
			</dict>
			<dict>
				<key>name</key>
				<string>野餐</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大姨妈来了</string>
			</dict>
			<dict>
				<key>name</key>
				<string>懒人专用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>朋友聚餐</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>jibingtiaoli</string>
		<key>imageName</key>
		<string>chFenlei_12</string>
		<key>name</key>
		<string>疾病调理</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>中风</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肠炎</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肾炎</string>
			</dict>
			<dict>
				<key>name</key>
				<string>痛风</string>
			</dict>
			<dict>
				<key>name</key>
				<string>麻疹</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肝炎</string>
			</dict>
			<dict>
				<key>name</key>
				<string>胃炎</string>
			</dict>
			<dict>
				<key>name</key>
				<string>贫血</string>
			</dict>
			<dict>
				<key>name</key>
				<string>痔疮</string>
			</dict>
			<dict>
				<key>name</key>
				<string>痛经</string>
			</dict>
			<dict>
				<key>name</key>
				<string>咽炎</string>
			</dict>
			<dict>
				<key>name</key>
				<string>耳鸣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>术后</string>
			</dict>
			<dict>
				<key>name</key>
				<string>前列腺</string>
			</dict>
			<dict>
				<key>name</key>
				<string>糖尿病</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高血压</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高血脂</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冠心病</string>
			</dict>
			<dict>
				<key>name</key>
				<string>胆结石</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肝硬化</string>
			</dict>
			<dict>
				<key>name</key>
				<string>结核病</string>
			</dict>
			<dict>
				<key>name</key>
				<string>甲状腺</string>
			</dict>
			<dict>
				<key>name</key>
				<string>更年期</string>
			</dict>
			<dict>
				<key>name</key>
				<string>关节炎</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肺气肿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>防癌抗癌</string>
			</dict>
			<dict>
				<key>name</key>
				<string>动脉硬化</string>
			</dict>
			<dict>
				<key>name</key>
				<string>月经不调</string>
			</dict>
			<dict>
				<key>name</key>
				<string>子宫脱垂</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小儿遗尿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>营养不良</string>
			</dict>
			<dict>
				<key>name</key>
				<string>骨质疏松</string>
			</dict>
			<dict>
				<key>name</key>
				<string>口腔溃疡</string>
			</dict>
			<dict>
				<key>name</key>
				<string>尿路结石</string>
			</dict>
			<dict>
				<key>name</key>
				<string>支气管炎</string>
			</dict>
			<dict>
				<key>name</key>
				<string>消化性溃疡</string>
			</dict>
			<dict>
				<key>name</key>
				<string>跌打骨折</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>zangfutiaoli</string>
		<key>imageName</key>
		<string>chFenlei_13</string>
		<key>name</key>
		<string>脏腑调理</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>补心</string>
			</dict>
			<dict>
				<key>name</key>
				<string>养肝</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补脾</string>
			</dict>
			<dict>
				<key>name</key>
				<string>养肺</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补肾</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补气</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补血</string>
			</dict>
			<dict>
				<key>name</key>
				<string>哮喘</string>
			</dict>
			<dict>
				<key>name</key>
				<string>感冒</string>
			</dict>
			<dict>
				<key>name</key>
				<string>腹泻</string>
			</dict>
			<dict>
				<key>name</key>
				<string>癫痫</string>
			</dict>
			<dict>
				<key>name</key>
				<string>水肿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>便秘</string>
			</dict>
			<dict>
				<key>name</key>
				<string>失眠</string>
			</dict>
			<dict>
				<key>name</key>
				<string>健忘</string>
			</dict>
			<dict>
				<key>name</key>
				<string>利尿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>心悸</string>
			</dict>
			<dict>
				<key>name</key>
				<string>痢疾</string>
			</dict>
			<dict>
				<key>name</key>
				<string>呕吐</string>
			</dict>
			<dict>
				<key>name</key>
				<string>胃调养</string>
			</dict>
			<dict>
				<key>name</key>
				<string>哮喘</string>
			</dict>
			<dict>
				<key>name</key>
				<string>气血双补</string>
			</dict>
			<dict>
				<key>name</key>
				<string>活血化瘀</string>
			</dict>
			<dict>
				<key>name</key>
				<string>止血调理</string>
			</dict>
			<dict>
				<key>name</key>
				<string>疏肝理气</string>
			</dict>
			<dict>
				<key>name</key>
				<string>阳痿早泄</string>
			</dict>
			<dict>
				<key>name</key>
				<string>自汗盗汗</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>urlName</key>
		<string>gongnengxingtiaoli</string>
		<key>imageName</key>
		<string>chFenlei_14</string>
		<key>name</key>
		<string>功能性调理</string>
		<key>listArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>美容</string>
			</dict>
			<dict>
				<key>name</key>
				<string>减肥</string>
			</dict>
			<dict>
				<key>name</key>
				<string>乌发</string>
			</dict>
			<dict>
				<key>name</key>
				<string>明目</string>
			</dict>
			<dict>
				<key>name</key>
				<string>防暑</string>
			</dict>
			<dict>
				<key>name</key>
				<string>脚气</string>
			</dict>
			<dict>
				<key>name</key>
				<string>祛痰</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通乳</string>
			</dict>
			<dict>
				<key>name</key>
				<string>头痛</string>
			</dict>
			<dict>
				<key>name</key>
				<string>解酒</string>
			</dict>
			<dict>
				<key>name</key>
				<string>增肥</string>
			</dict>
			<dict>
				<key>name</key>
				<string>夜尿多</string>
			</dict>
			<dict>
				<key>name</key>
				<string>减缓衰老</string>
			</dict>
			<dict>
				<key>name</key>
				<string>消化不良</string>
			</dict>
			<dict>
				<key>name</key>
				<string>神经衰弱</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补虚养身</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补阳壮阳</string>
			</dict>
			<dict>
				<key>name</key>
				<string>滋阴补肾</string>
			</dict>
			<dict>
				<key>name</key>
				<string>壮腰健肾</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清热解毒</string>
			</dict>
			<dict>
				<key>name</key>
				<string>产后调理</string>
			</dict>
			<dict>
				<key>name</key>
				<string>不孕不育</string>
			</dict>
			<dict>
				<key>name</key>
				<string>健脾开胃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>营养不良</string>
			</dict>
			<dict>
				<key>name</key>
				<string>益智补脑</string>
			</dict>
			<dict>
				<key>name</key>
				<string>肢寒畏冷</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清热去火</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
